@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* BUG除錯 */
body{
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfd
}
#Page-cashier{
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}
#Page-checkout{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    display: flex;
    /* display: none; */
}
#Page-customer-inform{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    display: none;
}
#overlay{
    position: absolute;
    width: 1194px;
    height: 834px;
    /* background-color: red; */
    z-index: 1000000;
    display: none;
    /* pointer-events:none; */
    /* user-select: none; */
    transition: all 0.3s;
}
.overlay-dark{
    background: rgba(127, 127, 127, 0.25);
}
.checkout-left-gp{
    width: 475px;
    height: 100%;
}
.checkout-right-gp{
    height: 100%;
    flex: 1 1 0;
    background: #FAFAFC;
    padding: 48px;
}
input[type=radio] { display: none }
.shop-item-penel-credit-labelGP label{
    flex: 1 1 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.customer-inform-top-group{
    display: flex;
    padding: 16px;
    gap: 18px;
    height: 140px;
    box-sizing: border-box;
}
.btn-addCustomerto-cashier{
    display: flex;
    align-items: center;
    background-color: #009EF7;
    padding: 0px 16px;
    gap: 8px;
    border-radius: 8px;
}
.history-label{
    border-radius: 27px;
    background: #009EF7;
    padding: 8px 16px;
}
.customer-inform-deta-gp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer-inform-deta-small-gp{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap:4px;
}
.padding16-wrapper{
    padding: 0 16px;
    flex: 1 1 0;
}
.customer-inform-bar{
    background: #E2E2E2;
    width: 2px;
    height: 100%;
}
.customer-shop-history-item{
    display: flex;
    justify-content: space-between;
    height: 112px;
    align-items: center;
    border-bottom: 1px solid #E2E2E2;
}
.customer-shop-history-order-inform-gp{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.customer-shop-history-icon-gp{
    display: flex;
    gap:6px;
    align-items: center;
}
.customer-inform-list-gp{
    display: flex;
    padding: 0px 16px;
    justify-content: space-between;
}
.customer-order-history-gp{
    padding:0 16px;
}
.customer-order-history-title-gp{
    height: 52px;
    display: flex;
    align-items: center;
}
.customer-inform-font-gp{
    display: flex;
    gap:13px;
}
.customer-inform-list-small-gp{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.customer-inform-label-gp{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    height: 72px;
    gap: 4px;
}
.customer-inform-deta-gp{
    display: flex;
    padding: 16px;
    background: #FAFAFC;
    border-radius: 8px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
.shop-car-GP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 288px;
    /* height: 166px; */
    left: 795px;
    top: 64px;
    /* background-color: white; */
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
    display: none;
}
.Shop-car-label{
    display: block;
    text-align: center;
    line-height:35px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #E2E2E2;
}
.shop-car-list-GP input[type="radio"]:checked+label { 
    color: #009EF7;
}
.Shop-car-label:last-child{
    border-bottom:0;
}
.shop-car-list-GP{
    width: 288px;
    /* height: 172px; */

    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

}
.shop-car-shape{
width: 42px;
height: 18px;
}
.shop-item-penel-credit-labelGP input[type="radio"]:checked+label { 
    background: #009EF7;
    color: white;
}
.shop-item-penel-credit-window{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 112px;
}
.customize-window{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}
.percentage-window{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price-window{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}
.penel-list-mode-GP{
    /* padding: 0px 24px; */
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E2E2E2;
}
.button_mid{
    flex-grow: 1;
    height: 52px;
    background: #009EF7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-client-GP{
    position: absolute;
    width: 420px;
    height: 698px;
    left: 294px;
    top: 62px;
    background: #FFFFFF;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.73);
    border-radius: 8px;
    display: none;
    /* display: none; */
}
.client-cargo-address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
}
.textbox{
    height: 21px;
}
.client-textbox-GP{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}
.client-button-GP{
    display: flex;
    padding: 0 24px 24px;
}
.textbox-outside{
    display: flex;
    gap: 8px;
    padding: 10px 12px;
    background: #FAFAFC;
    border-radius: 6px;
}
.textbox-GP{
    display: flex;
    flex-direction: column;
}
.category-list-gp{
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
    gap: 8px;
}
.category-list-title{
    padding: 0px 24px;
    height: 36px;
}
.padding-horizon{
    padding: 0px 24px;
}
.category-hrizon-padding{
    display: flex;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;
    height: 52px;
}
.category-list-item{
    border-top: 1px solid #E2E2E2;
}
.category-curcle{
    width: 8px;
    height: 8px;
    /* main/primary */
    background: #009EF7;
    border-radius: 50%;
}
.popup-category{
    position: absolute;
    width: 420px;
    height: 406px;
    left: 127px;
    top: 95px;

    /* light/light01 */

    background: #FFFFFF;
    /* biggest_shadow */

    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.73);
    border-radius: 8px;
    display: none;
}
.popup-client-newcustomer{
    position: absolute;
    width: 420px;
    left: 297px;
    top: 71px;
    background: #FFFFFF;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.73);
    border-radius: 8px;
    display: none;
}
.popup-client-title_GP{
    position: relative;
    display: flex;
    height: 56px;
    border-bottom: 1px solid #E2E2E2;
    padding: 16px;
    box-sizing: border-box;
}
.popup-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 56px;
    border-bottom: 1px solid #E2E2E2;
    padding: 16px;
    box-sizing: border-box;
}
.popup-client-search-GP{
    height: 72px;
    padding: 16px;
    border-bottom: 1px solid #E2E2E2;
    box-sizing: border-box;
    gap:10px
}
.client-search-gp{
    height: 40px;
    background: #FAFAFC;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
    padding: 0 16px;
    gap: 10px;
}
.client-btn-gp{
    display: flex;
    padding: 16px;
    border-bottom: 1px solid #E2E2E2;
}
.client-inform-GP{
    display: flex;
    flex-direction: column;
}
.client-inform-message{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #E2E2E2;
}
.shop-item-panel{
    position: absolute;
    width: 420px;
    /* height: 468px; */
    left: 284px;
    top: 87px;
    background: #FFFFFF;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.73);
    border-radius: 8px;
    display: none;
}
.popup-fullorder-panel{
    position: absolute;
    width: 420px;
    left: 284px;
    top: 277px;

    /* light/light01 */

    background: #FFFFFF;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.73);
    border-radius: 8px;
    display: none;
}
.type-card-item-font{
    display: flex;
    flex-direction: column;
    height: 21px;
    align-items: center;
}
.type-card-item-img{
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin-bottom: 12px;    
}
.type-card-gp{
    display: grid;
    padding: 24px;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}
.type-card-item{
    box-sizing: border-box;
    padding: 20px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    }
.popup-types-item{
    position: absolute;
    width: 576px;
    height: 558px;
    left: 309px;
    top: 138px;

    /* light/light01 */

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: none;
}
.shop-item-penel-credit-btn-gp{
    display: flex;
    padding: 0px 24px 24px;
    height: 76px;
    box-sizing: border-box;
    align-self: stretch;
}
.shop-item-penel-credit-gp{
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    gap: 10px;
}
.shop-item-penel-credit-labelGP{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2E2E2;
    border-radius: 8px;
    height: 44px;
}
.shop-item-panel-item-amount{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F4F4F4;
    border-radius: 6px;
    flex-grow: 1;
}
.shop-item-panel-item-amount-num{
    text-align: center;
    flex-grow: 1;
}
.shop-item-panel-adds{
    display: flex;
    width: 60px;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #009EF7;
}
.shop-item-panel-minus{
    display: flex;
    width: 60px;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #009EF7;
}
.shop-item-panel-btn-gp{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.shop-item-panel-amount-gp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 24px;
}
.shop-item-panel-title-gp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 52px;
    border-bottom: 1px solid #E2E2E2;
}
.shop-item-panel-title{
    display:  flex;
    align-items: center;
}
#ipad-scene{
    width: 1194px;
    height: 834px;
    position: relative;
}
img{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.title1{
    font-size: 28px;
    font-weight: 700;
}
.title2{
    font-size: 20px;
    font-weight: 700;
}
.subtitle1{
    font-size: 18px;
    font-weight: 700;
}
.subtitle2{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.body1{
    font-size: 16px;
    font-weight:500;
}
.body2{
    font-size: 14px;
}
.caption{
    font-size: 10px;
}
.font-botline{
    text-decoration-line: underline;
}
.primary-color{
    color: #009EF7;
}
.primary-lighter-color{
    color: #5F91E8;
    ;
}

.color-dark1{
    color: #1E1E2D;
}
.color-dark2{
    color: #2A2A2A;
}
.color-dark3{
    color: #3D3D3D;
}
.color-dark4{
    color: #555555;
}
.color-dark5{
    color: #7F7F7F;
}
.color-white{
    color: #FFFFFF;
}
.menu{
    width: 719px;
    height:100%;
    border-right: 1px solid #E2E2E2;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.flex-grow-max{
    flex-grow: 1;
    overflow: auto;
}
.flex-grow-max::-webkit-scrollbar {
    display: none;
  }
.menu-item-frame{
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.menu-grid-item{
    /* background-color: #009EF7; */
    height: 192px;
    max-width: 155px;
    text-align: center;
    position: relative;
}
.items-icon{
    position: absolute;
    right: 4px;
    bottom: 40px;
}
.menu-gird-item-img{
    width: 100%;
    border-radius: 13px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}
.display-flex-spacebetween{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.display-flex-colcum-spacebetween{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.cashier-full-credit{
    height: 60px;
    padding-top: 10px;
}
.display-inline-block{
    display:inline-block;
}
.menu-header-icongroup{
    display: flex;
    align-items: center;
    gap: 16px;
    height: 80px;
}
.payment-switch_block{
    display: none;
}
.menu-header{
 width: 100%;
 height: 80px;
 background: #FFFFFF;
 border-bottom: 1px solid #E2E2E2;
 display: flex;
 position: relative;
 justify-content: space-between;
 align-items: center;
 padding: 16px;
 box-sizing: border-box;
}
.center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    display: flex;
    align-items: center;
}
.customer-shop-history-money{
    left: 60%;
}
.menu-header-allitem-left{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    display: flex;
    align-items: center;
}
.menu-header-allitem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    display: flex;
    align-items: center;
}
.payment{
    width: 475px;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* background: red; */
}
.payment-content{
    width: 100%;
    /* height: 200px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    /* overflow: auto; */
}
.search-bar{
    padding: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #7F7F7F;
    border-bottom: 1px solid #E2E2E2;
    display: none;
}
#fname{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    color: #7F7F7F;
}
:placeholder-shown{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #7F7F7F;
}
#fname:hover{
    border: none;
    background: none;
    outline: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #7F7F7F;
    /* display: none; */
}
.search-bar-GP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background: #FAFAFC;
    border-radius: 30px;
    padding: 8px 16px;
    box-sizing: border-box;
}
.search-bar-GP-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.search-bar-GP-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.cashier-button-gp{
    display: flex;
    padding: 24px;
}
.btn_glad_mode{
    background: #FAFAFC !important;
}
.btn_glad_mode p{
    color: #E2E2E2 !important;
    content: "";
}
.btn_glad_mode img{
    display: none;
}
.cashier-btn{
    flex-grow: 1;
    height: 68px;
    background: #009EF7;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: right;
    padding: 0px 32px;
}
.cashier-list{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
.cashier-addcustomer{
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #E2E2E2;
    gap: 10px;
    align-items: center;
}
.customer-inform-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cashier-managecustomer{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 98px;
    border-bottom: 1px solid #E2E2E2;
    align-items: center;
    display: none;
}
.cashier-shop-itemsGP{
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    padding-bottom: 0;
    max-height: 356px;
    overflow: auto;
    flex: 1 1 0;
}
.cashier-shop-itemsGP::-webkit-scrollbar {
    display: none;
}
.checkout-shop-itemsGP{
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    padding-bottom: 0;
    max-height: 356px;
    overflow: auto;
}
.checkout-shop-itemsGP::-webkit-scrollbar {
    display: none;
}
.cashier-shop-item{
    box-sizing: border-box;
    /* flex-grow: 1; */
    padding: 0px 0px 16px;
    height: 76px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 16px;
}
.cashier-shop-item:last-child{
    border:none;
    margin-bottom: 0;
}
.checkout-shop-item{
    box-sizing: border-box;
    /* flex-grow: 1; */
    padding: 0px 0px 16px;
    height: 76px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 16px; 
}
.checkout-shop-item:last-child{
    border:none;
    margin-bottom: 0;
}
.cashier-shop-item-gp{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.cashier-shop-item-gp-left{
    display: flex;
    gap: 16px;
}
.cashier-shop-item-img{
    height: 60px;
    width: 60px;
    border-radius: 8px;
}
.cashier-shop-item-fontGP{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cashier-shop-item-gp-right{
    display: flex;
    gap: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.cashier-shop-price-group{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap:16px;
}
.discount-original-price{
    display: none;
    color: #F1416C;
    font-size: 13px;
    text-decoration-line: line-through;
}
.cashier-total-gp{
    padding: 0px 16px;
    border-bottom: 1px solid #E2E2E2;
}
.checkout-total-gp{
    padding: 0px 16px;
}
.activity-total{
    height: 60px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cashier-total{
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cashier-final-total{
    display: flex;
    height: 76px;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
}